<footer class="footer">

  <div class="footer-content">

    <div class="footer-section">
      <h3>TechWorld</h3>
      <p>
        Equipamentos gamer de alto desempenho
      </p>
    </div>

    <div class="footer-section">
      <h4>Contato</h4>
      <p> suporte@TechWorld.com</p>
      <p> (51) 99869-2892</p>
    </div>

    <div class="footer-section">
      <h4>Redes</h4>
      <p Instagram: @TechWorld</p>
      <p> Twitter: @TechWorld</p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2026 TechWorld - Todos os direitos reservados</p>
  </div>

</footer>