<!DOCTYPE html>
<html>
<head>
  <title>Escolher</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    
<%- include("partials/header") %>
<main class="main">
  <div style="text-align: center; margin-top: 100px;">
    <h1>O que você deseja?</h1>

    <a href="/login">
      <button>Login</button>
    </a>

    <a href="/register">
      <button>Cadastrar</button>
    </a>

    <br><br>
    <a href="/">Voltar</a>
  </div>
  </main>
<%- include("partials/footer") %>
</body>
</html>